@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --laranja-escuro: #ff7b00ff;
    --laranja-claro: #ffa200ff;
    --amarelo-mostarda: #ffc300ff;
    --amarelo: #ffea00ff;
    --preto:#000000;
    --titulo: "Geist Pixel", sans-serif;
    --texto: "Roboto Condensed", sans-serif;
}
body{
    background: var(--amarelo);
    font-family: var(--texto);
}
header{
    background-color: var(--laranja-escuro);
    display: flex;
    justify-content: space-around;
    color: var(--laranja-claro);
    padding: 20px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 10px;
    color: var(--preto);
    text-transform: uppercase;
    font-size: 10px;
}
.menu a{
    text-decoration: none;
    color: var(--preto);
    font-weight: bold;
}
.menu a:hover{
    color: var(--amarelo);
    transition: 1s;
}
.img-capa{
    width: 100%;
    height: 10%;
}
.conteudo{
    margin: 30px;
    border: 2px solid var(--preto);
    padding: 30px;
    text-align: center;
}
.conteudo.titulo{
    font-family: var(--titulo);
    font-size: 24px;
    padding-bottom: 20px;
    color: var(--amarelo-mostarda)
}
.conteudo.texto{
    font-family: var(--texto);
    font-size: 14px;
}